<html>
<head>
  <style>
    input{
      display: block;
      margin: 10px;
    }
  </style>
</head>
<body>
  <h1>GF Food Finder</h1>
  <p>Are you in a new city and afriad of starving? I can try to help. But I make no promises.</p>
  <form>
    <label for="craving">What are you in the mood for?</label>
    <input type="text", name="craving" />
    <label for="location">Where are you?</label>
    <input type="text", name="location" />
    <input type="submit", value="Find me food!" />
  </form>
  <div>
    
    <% gf_places.each do |place|  %>
   <div id="place">
    <p class="name"><%=place["name"]%></p>
      <p class="rating"><%= place["rating"]%></p>
      <p class="reviews"><a  href=<%= place["url"]%> target="_blank">Click here for reviews on Yelp</a></p>  
    </div>
    <%end%>
  
  </div>
</body>
</html>