<html>
<head>
</head>
<body>
  <form>
    <label for="craving">What are you in the mood for?</label>
    <input type="text", name="craving" />
    <label for="location">Where are you?</label>
    <input type="text", name="location" />
    <input type="submit", value="Find me food!" />
  </form>
</body>
</html>